fastapi==0.95.2
uvicorn==0.22.0
asyncpg==0.30.0
numpy==2.2.6
scipy==1.15.3
six==1.16.0
pylab==0.1.0
annotated-types==0.7.0
anyio==4.9.0
beautifulsoup4==4.13.4
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
cmdstanpy==1.2.5
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
